#section-slider 
	background-size: cover
	min-height: 100vh
	position: relative
	.wrap-center
		position: absolute
		top: 0
		left: 0
	.content
		display: flex
		align-items: center
		flex-wrap: wrap
		position: relative
.slider-background
	&__item
		min-height: 100vh
		background: url(../img/newAndrey/slider-fon.jpg) center no-repeat
		background-size: cover
.img-phone
	height: 650px
	width: 316px
	z-index: 999
	background: url(../img/newAndrey/phone.png) center no-repeat
	background-color: inherit
.slider-img
	margin-left: -300px
	position: relative
	margin-right: 220px
	width: 290px
	height: 612px
	.img-wrap
		position: relative
		border-radius: 40px
		height: 612px
		width: 283px
		overflow: hidden
		z-index: -1
		background: url(../img/newAndrey/slider-img.jpg) center no-repeat
		background-color: inherit
.slider-text
	color: #fff
	width: 500px
	.comment
		color: #a4d905
	&__desc
		font-size: 16px
		font-weight: 400
.slider-text__item
	animation-name: fade
	animation-duration: 1.5s
@-webkit-keyframes fade
	from
	opacity: .4
	to
	opacity: 1
@keyframes fade
	from
		opacity: .4
	to
		opacity: 1
.prev 
	position: absolute
	left: 380px
	top: 50%
	margin-top: -25px
.next
	position: absolute
	left: 1100px
	top: 50%
	margin-top: -25px