#section-slider 
	background-size: cover
	min-height: 100vh
	position: relative
	.wrap-center
		position: absolute
		top: 0
		left: 0
	.content
		display: flex
		align-items: center
		flex-wrap: wrap
		position: relative
.slider-background
	&__item
		min-height: 100vh
		background: url(../img/newAndrey/slider-fon.jpg) center no-repeat
		background-size: cover
.img-phone
	height: 650px
	width: 316px
	z-index: 999
	background: url(../img/newAndrey/phone.png) center no-repeat
	background-color: inherit
.slider-img
	margin-left: -300px
	position: relative
	margin-right: 220px
	width: 290px
	box-shadow: 0 0 39px 10px rgba(255, 255, 255, 0.31)
	height: 612px
	.img-wrap
		position: relative
		border-radius: 40px
		height: 612px
		width: 283px
		overflow: hidden
		z-index: -1
		background: url(../img/newAndrey/slider-img.jpg) center no-repeat
		background-color: inherit
.slider-text
	color: #fff
	width: 500px
	.comment
		color: #98d208
		letter-spacing: 1.32px
		margin-bottom: 1.2rem
	h2
		margin-bottom: 2rem
	&__desc
		margin-bottom: 2.5rem
.slider-text__item
	animation-name: fade
	animation-duration: 1.5s
@-webkit-keyframes fade
	from
	opacity: 0
	to
	opacity: 1
@keyframes fade
	from
		opacity: 0
	to
		opacity: 1
.prev 
	cursor: pointer
	position: absolute
	left: 380px
	top: 50%
	margin-top: -25px
.next
	cursor: pointer
	position: absolute
	left: 1100px
	top: 50%
	margin-top: -25px

#section-alarm_clock
	background: url(../img/newAndrey/alarm-clock-fon.png) center no-repeat
	background-size: cover
	min-height: 100vh
	display: flex
	align-items: center
	.content
		justify-content: flex-end
	.alarm_clock-wrap
		max-width: 38rem
		p
			margin-top: 2rem
			color: #fff
			width: 90%
			letter-spacing: 1.32px
		.alarm_clock-btn
			margin-top: 2.5rem

#section-sleep_mate
	background: url(../img/newAndrey/sleep_mate-fon.png) center no-repeat
	background-size: cover
	min-height: 100vh
	.content
		padding-top: 8rem
		justify-content: space-between
	.sleep_mate-text
		padding-top: 4.6rem
		p
			margin-top: 2rem
			max-width: 30rem
			color: #fff
		.sleep_mate-btn
			margin-top: 2.5rem
